.gallery {
  --border-width: 0.5px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.93);
  display: grid;
  gap: 0px;
  padding: var(--border-width);
  grid-template-columns: 50% 50%;
  height: auto;
}

span {
  margin: var(--border-width);
}

@media screen and (max-width: 900px) {
  .gallery {
    grid-template-columns: 100%;
  }
}
