@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.container-header {
  background-color: rgb(248, 246, 246);
}

.div-choose-weapon {
  font-size: 80px;
  padding-top: 80px;
  height: 100px;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}

.drop-downListDiv app-dropdown-categories {
  float: right;
  width: 45%;
}

@media screen and (max-width: 1140px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 460px) {
  .container {
    width: 100%;
  }

  .div-choose-weapon {
    display: none;
  }
}

@media screen and (max-width: 892px) {
  .drop-downListDiv app-dropdown-categories {
    width: 100%;
  }
}

.drop-downListDiv {
  display: inline-block;
  width: 100%;
}

app-downlist {
  float: right;
  width: 30%;
}
