<div class="div-card"
     (mouseleave)="changeDisplayValue()"
     (mouseenter)="changeDisplayValue()"
>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        {{data.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{data.category}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image draggable="false" [src]="data.imagePath" alt={{data.name}}>
    <mat-card-content [ngClass]="display">
      <div>
        <h4>Características</h4>
        <ul *ngFor="let spec of data.specs">
          <li>{{spec}}</li>
        </ul>
        <h4>Estadísticas</h4>
        <b>Daño:</b>
        {{data.damage}}<br>
        <b>Cadencia de tiro:</b>
        {{data.rateOfFire}} <br>
        <b>Valoración:</b>
        {{data.rating}} <br>
      </div>
    </mat-card-content>
    <mat-card-footer>
      {{data.brief}}
    </mat-card-footer>
  </mat-card>
</div>


