@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  font-family: 'Roboto Flex', sans-serif;

}

.div-card, .hidden {
  position: relative;
}

.div-card {
  overflow: hidden;
  border-style: dotted solid dashed solid;
  border-width: 1px;
  border-color: #0f1923;
}

.hidden {
  display: none;
}

.card {
  z-index: 1;
  background: #fff;
  color: #0f1923;
}

mat-card-content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 352px;

  padding: 90px 20px 0;

  background: rgba(233, 30, 98, 0.82);
  color: #fff;

  font-size: 14px;
  text-align: justify;
}

.mat-card-footer {
  padding-left: 20px;
  padding-bottom: 10px;
}

.mat-card-subtitle,
.mat-card-footer {
  color: #4e4e4e;
}

.mat-card-title {
  margin-top: 10px;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  height: 30px;
}

.mat-card-header-text, img {
  width: 100%;
}

img {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;

  filter: drop-shadow(1rem 1rem 0 rgba(15, 25, 35, .17));
}
