html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root app-search-input mat-form-field div .mat-form-field-flex {
    background-color: #eeeeee !important;
    border-radius: 0% !important;
}
